{%- from "@@html/components/mixins/svgicon.njk" import icon -%}

<footer class="footer section surface">
	<div class="container">

		<div class="footer-top">
			<div class="logo-wrap">
				<div class="logo">
					<a href="/" class="logo-link">
						{{- icon({name: 'logo'}) }}
					</a>
				</div>
				<span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</span>
			</div>
			<div class="contact-details">
				<span class="menu-title">Контакты</span>
				<div class="phone-list">
					<a  href="tel:{{- "+7 (495) 540-61-41" | phone }}">+7 (495) 540-61-41</a>
					<a href="tel: {{- "+7 (800) 222-61-41" | phone }}">+7 (800) 222-61-41</a>

				</div>
				<a href="mailto:info@chint.ru">info@chint.ru</a>
				<address>Ул. Автозаводская, дом 23&nbsp;А, К2</address>
				<div class="social footer-social">
					<a href="#" class="social-link social-link-tg" target="_blank">
						{{- icon({name: 'tg'}) }}
					</a>
					<a href="#" class="social-link social-link-vk" target="_blank">
						{{- icon({name: 'vk'}) }}
					</a>
				</div>
			</div>
			<div class="footer-menu-col">
				<div class="col-auto">
					<span class="menu-title">Компания</span>
					<ul class="menu menu-left">
						<li>
							<a href="/pages/about.html">О&nbsp;компании</a>
						</li>
						<li>
							<a href="/pages/order.html">Заказы</a>
						</li>
						<li>
							<a href="/pages/contacts.html">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="col-auto">
					<span class="menu-title">Продукты</span>
					<ul class="menu">
						<li>
							<a href="#">EN-Safety suite</a>
						</li>
						<li>
							<a href="#">EN-Soft Advance Alarm Managment</a>
						</li>
						<li>
							<a href="#">EN-Soft AMS</a>
						</li>
						<li>
							<a href="#">EN-Soft Batch</a>
						</li>
						<li>
							<a href="#">EN-Soft CHAMS</a>
						</li>
						<li>
							<a href="#">EN-Soft EPG DCG</a>
						</li>
						<li>
							<a href="#">EN-Soft Gaz Turbine Control</a>
						</li>
						<li>
							<a href="#">EN-Soft Process Control</a>
						</li>
						<li>
							<a href="#">EN-Soft Report Analysis</a>
						</li>
						<li>
							<a href="#">EN-Soft SOE  </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="copy">&copy;&nbsp;Copyright 2024&nbsp;EN-Soft. All rights recerved.</div>
			<div class="policy-links col-lg-auto">
				<a href="#">Политика конфиденциальности</a>
				<a href="#">Пользовательское соглашение</a>
			</div>
		</div>
	</div>
</footer>

{%- include "@@html/components/modal.njk"   -%}
<script src="/js/app.min.js"></script>
</body>
</html>