<!-- about  -->
<section id="about" class="about section">
	<div class="container">
		<div class="col-xl-10">
			<h2>О КОМПАНИИ</h2>
			<p>Значимость этих проблем настолько очевидна, что консультация с профессионалами из IT позволяет выполнить
				важнейшие
				задания по разработке модели развития. С другой стороны начало повседневной работы по формированию позиции
				позволяет
				выполнить важнейшие задания по разработке модели развития! Таким образом, курс на социально-ориентированный
				национальный
				проект требует от нас системного анализа соответствующих условий активизации!
			
			</p>
			<p>
					Задача организации, в особенности же выбранный нами инновационный путь представляет собой интересный
					эксперимент
					проверки системы обучения кадров, соответствующей насущным потребностям! Таким образом, новая модель
					организационной
					деятельности создаёт предпосылки качественно новых шагов для направлений прогрессивного развития.
				</p>

		</div>
		<div class="about-list row">
			<div class="col-md-6  d-flex align-content-center">
				<div class="row align-content-start align-self-center">
					<div class="item col-sm-6">
						<div class="item-number">
							<span>4 000</span>+</div>
						<div class="item-title">Покупателей</div>
						<div class="item-description">Наши системы пользуются доверием</div>
					</div>
					<div class="item col-sm-6">
						<div class="item-number">
							<span>100</span>%</div>
						<div class="item-title">Гарантия</div>
						<div class="item-description">Вы точно не ошибётесь выбрав EN-SOFT</div>
					</div>
					<div class="item col-sm-6">
						<div class="item-number">
							<span>100</span>&nbsp;тыс.</div>
						<div class="item-title">Довольных пользователей</div>
						<div class="item-description">Более 100 тыс. человек в компаниях используют наши системы</div>
					</div>
					<div class="item col-sm-6">
						<div class="item-number">
							<span>200</span>+</div>
						<div class="item-title">Отзывов</div>
						<div class="item-description">We’re proud of our 5-star rating with over 200 reviews. </div>
					</div>
				</div>
			</div>
			<div class="img-wrap col-md-6 d-none d-sm-block">
				<img src="@img/about.jpg" class="img-fluid rounded-5" alt=""/>

			</div>
		</div>
	</div>
</section>
<!-- END about  -->