{%- from "@@html/components/mixins/svgicon.njk" import icon -%}
{%- set pageTitle = 'О компании' -%}
{%- from '@@html/head.njk' import head %}
{{- head(pageTitle, 'page-about') }}

{% include "@@html/header.njk" %}
<main class="main-container section">
	<div class="container">
		<div class="row">
			<div class="mb-5 col-lg-5">
				<div class="img-wrap">
					<img class="img-fluid rounded-3" src="/@img/page-about.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-7 ps-md-4">
				<h2>
							Компания EN-SOFT
						</h2>
				<p>
							Добро пожаловать в мир EN-SOFT — молодой и динамично развивающейся организации, специализирующейся на разработке программного обеспечения для создания и эксплуатации проектов автоматизированных систем управления непрерывными технологическими процессами. Мы гордимся тем, что являемся частью российской индустрии и предоставляем предприятиям современные решения, способствующие повышению эффективности и надежности их производственных процессов.
						</p>
				<p>EN-SOFT была основана с целью удовлетворения растущих потребностей в автоматизации на российском рынке. Наша команда состоит из высококвалифицированных специалистов с обширным опытом в области разработки программного обеспечения, системной интеграции и автоматизации процессов. Мы понимаем, что каждая отрасль уникальна, и именно поэтому наши решения адаптируются под конкретные нужды клиентов. Мы разрабатываем программное обеспечение для аппаратных комплексов промышленной автоматизации, что позволяет нам предлагать комплексные решения, способствующие оптимизации процессов.</p>
				<h3>Продукция</h3>
				<p>
							Наши продукты охватывают широкий спектр функций: от мониторинга и управления до анализа данных. Это позволяет контролировать производственные процессы в реальном времени и принимать обоснованные решения на основе полученной информации. Мы стремимся к тому, чтобы наши решения были интуитивно понятными и легкими в использовании, что минимизирует время на внедрение.
						</p>
				<h3>Инновации — это про нас</h3>
				<p>В EN-SOFT мы придаем большое значение инновациям. Мы активно следим за последними тенденциями в области технологий и интегрируем их в наши продукты. Это позволяет нам использовать самые современные методы управления производственными процессами.
							<br>
		Сотрудничая с EN-SOFT, вы получаете не просто программное обеспечение, а надежного партнера, который поможет вашему бизнесу расти и развиваться. Мы уверены, что с нашими решениями вы сможете достичь новых горизонтов в автоматизации и управлении непрерывными технологическими процессами.</p>
				<div class="cta-box surface">
					<div class="content-col">
						<div class="cta-title">Давайте вместе строить будущее автоматизации!</div>
						<p>EN-SOFT — ваш ключ к успешной и эффективной производственной деятельности.</p>
						<a href="#" class="btn btn-secondary">Смотреть продукты 
							{{- icon({name: 'tr-arrow', stroke: true}) }}
						</a>
					</div>
					<div class="col img-col">
						<img src="/@img/cta-dot.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% include "@@html/footer.njk" %}