{%- macro icon(props) %}
  <svg class="icon icon-{{-props.name-}} 
{% if props.mod %}
  {{- " icon-" + props.name + "--" + props.mod-}}
{% endif -%}
{% if props.extraClass %}
  {{- " " + props.extraClass-}}
{% endif -%}
{% if props.stroke == true %}
  {{- " icon-stroke"-}}
{% endif -%}
">
    {%- set href = '' %}
    {%- if props.inlineSprite == false %}
      {%- set href = "/@img/icons/icons.svg" %}
    {%- endif %}
    {#- {{- 'inlineSprite: ' + props.inlineSprite | dump }} #}
    {#- {{- 'href: ' + href | dump }} #}
    <use xlink:href="{{-href-}}#{{- props.name -}}"></use>
  </svg>
{%- endmacro %}