@use 'global/variables' as v;

//! path: ~bootstrap/scss/_variables.scss

/* default bootstrap grid */
/* 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-gutter-width: 1.5rem;  // = 24px при дефолтном font-size 16px
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
 */
//  ( containerWidth + gutter ) / 12 = (112px - 24px) = 88px по дефолту --- Ширина столбца направляющей в макете направляющих PSD
// 112px это ширина столбца без учета отступов, для второго макета направляющих

// половина gap (gap = отступ между контентом col)
$container-padding-x: 12px;
$spacer: 24px !default;
$grid-gutter-width: 24px; // = 24px при дефолтном font-size 16px
$gutters: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
);
// с учетом padding-x, т.е. + $gap  или  + 2 * $container-padding-x
$container-max-widths: (
	sm: 100%,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1308px,
);

$container-padding-x: 12px;

$border-radius-xs: 12px;
$border-radius-sm: 24px;
$border-radius-md: 26px;
$border-radius-lg: 34px;
$border-radius-xl: 34px;
$border-radius-xxl: 34px;

$primary: v.$g-primary;
$danger: v.$g-error;

// merge with existing $theme-colors map
$theme-colors: map-merge(
	$theme-colors,
	(
		'primary': $primary,
		'secondary': $secondary,
		'danger': $danger,
	)
);
