<section class="callback section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="img-wrap ">
					<img src="@img/callback.jpg" class="img-fluid" alt="">
				</div>
			</div>
			<div class="form-col  col-sm-10 mx-auto col-md-6 col-xl-5">
				<h2>СВЯЖЕМСЯ С ВАМИ</h2>
				<p>Задача организации, в особенности же выбранный нами инновационный путь представляет собой интересный эксперимент проверки системы обучения кадров.</p>
				<form>
					<div class="form-floating">
						<input id="input_name" type="text" name="name" class="form-control" placeholder="Имя фамилия" autocomplete="name">
						<label for="input_name">Имя фамилия</label>
					</div>

					<div class="form-floating">
						<input id="input_email" type="email" name="email" class="form-control" placeholder="Email" autocomplete="email" required>
						<label for="input_email">Email</label>
					</div>
					<div class="status-label">
						<div class="error">Для отправки данных необходимо заполнить все поля</div>
						<div class="success">Данные успешно отправлены</div>
					</div>
					<button type="submit" class="btn btn-primary">Отправить</button>
				</form>
				<div class="stats row">
					<div class="col-sm-6">
						<div class="item-number">
							<span>5910</span>+</div>
						<div class="item-description">Пользователей используют наши программы</div>
					</div>
					<div class="col-sm-6 ms-sm-auto">
						<div class="item-number">
							<span>200</span>+</div>
						<div class="item-description">Положительных отзывов об&nbsp;обеспечении EN-SOFT</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>