<div class="modal micromodal-slide modal-primary" id="callback-modal" aria-hidden="true">
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
			<div class="modal__inner">

				<main class="modal__content">
					<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
					<form>
						<div class="form-floating">
							<input id="modal_input_name" type="text" name="name" class="form-control" placeholder="Имя и Фамилия"  autocomplete="name" >
							<label for="modal_input_name">Имя и Фамилия</label>
						</div>
						<div class="form-floating">
							<input id="modal_input_phone" type="tel" name="phone" class="form-control" placeholder="Телефон" autocomplete="tel" >
							<label for="modal_input_phone" >Телефон</label>
						</div>
						<div class="form-floating">
							<input id="modal_input_email" type="email" name="email" class="form-control" placeholder="Enail" autocomplete="email" >
							<label for="modal_input_email" >Email</label>
						</div>
						<div class="mb-3">
							<label for="modal_input_question" class="form-label">Поле для вопроса</label>
							<textarea class="form-control" id="modal_input_question" name="question" rows="5" placeholder="Введите вопрос"></textarea>
						</div>
						<div class="form-bottom">
							<div class="col">
								<div class="status-label">
									<div class="error">Для отправки данных необходимо заполнить все поля</div>
									<div class="success">Данные успешно отправлены</div>
								</div>
								<button class="btn btn-primary w-100 w">Отправить</button>
							</div>
							<div class="policy-col mt-2">
											Нажимая кнопку «Отправить», вы соглашаетесь
											<br>
								<span>с <a href="#">Политикой конфиденциальности</a>
								</span>
								<span>и <a href="#">Пользовательским соглашением</a>
								</span>
							</div>
						</div>
					</form>
				</main>

			</div>
		</div>
	</div>
</div>